.brief_content{
	width: 100%;
	height: auto;
	padding: 13% 5%;
}
.brief_content img{
	width: 100%;
}
.brief_content-h3{
	width: 100%;
	height: 100%;
	margin-bottom:12%; 
}

.brief_content-h3 h3{
	text-align: right;
}
.brief_content-h3 a{
	color:#000;
}
.brief_content b{
	font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}
.brief_content p{
    margin-bottom: .8rem!important;
}

.brief-footer{
	width: 100%;
	height: auto;
	border-top:1px solid #e0e0e0; 
	padding-top: 5%; 
}
.brief-footer img{
	width: .7rem;
	height: .7rem;
}
.brief-footer p{
	margin-bottom: .2rem!important;
}
